
body {
    background: url("../images/sea2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-container{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background: white;
    padding-right: 0;
    padding-left: 0;
}

.home-inner {
    background-color: #6699CC;
    opacity: 0.9;
    /*background-color: #FFD700;*/
    padding: 50px -50px 50px 50px;
}

.marketing h6 {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.four-images img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 1s;
    filter: grayscale(100%);
}
.four-images img:hover {
    filter: grayscale(0%);
}

.company-references img {
    width: 100%;
    height: 80px;
    object-fit: cover;
}



footer .first-footer {
    background: #202020;
}

footer .second-footer {
    background: #101010;
}

footer p {
    color: darkgray;
}

footer h6 {
    color: darkgray;
    font-weight: bold;
    font-size: 18px;
}





.home-section-img {
    width: 80%;
    height: 80%;
    margin-bottom: -50px;
    margin-left: 50px;
}

.navbar-brand {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

.fab:hover {
    color: #FFBF00;
    transition: .5s;
}


img .zoom {
    width: 100px;
    height: 100px;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


.footer-img {
    object-fit: cover;
    width: 100%;
    height: auto;
    transition: 1s;
}






/*test gallery*/
.gallery {
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 2px solid black;
}

#big img {
    width: 100%;
    height: 500px;
}
#sub img {
    width: 20%;
    height: 150px;
    border: 3px solid black;
    float: left;
    cursor: pointer;
    filter: grayscale(100%);
}
#sub img:hover {
    transition: 1s;
    filter: grayscale(0%);
}




.bg-img {
    background: url("../images/sky.jpg") no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact p {
    color: white;
    font-weight: bold;
}




.right-box {
    background-color: whitesmoke;
}


.blog-categories ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    height: 100%;
}

.blog-categories ul li {
    display: table-row;
}

.blog-categories ul li a {
    display: table-cell;
    padding: 8px 30px;
    border-bottom: 1px solid #ddd;
    color: black;
    text-decoration: none;
}

.blog-categories a:hover {
    background-color: #ddd;
}





@media(max-width:1000px) {
    .four-images img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .company-references img {
        width: 100%;
        height: 50px;
        object-fit: cover;
    }
    .marketing .fab{
        font-size: 40px !important;
    }
    .my-img {
        width: 100%;
        height: 200px;
    }

    #big img {
        width: 100%;
        height: 400px;
    }
    #sub img {
        width: 20%;
        height: 100px;
    }


    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse:not(.show) {
        display: none !important;
    }

    .navbar-collapse {
        overflow-x: visible !important;
    }

    .navbar-collapse.show {
        overflow-y: auto !important;
    }
    .collapse.show {
        display: block !important;
    }


}

@media(max-width:768px) {
    .four-images img {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
    .company-references img {
        width: 100%;
        height: 30px;
        object-fit: cover;
    }
    .marketing .fab{
        font-size: 30px !important;
    }

    #big img {
        width: 100%;
        height: 300px;
    }
    #sub img {
        width: 20%;
        height: 50px;
    }

    nav .container{
        width: 100%;
    }

}



@media(max-width:576px) {


    .four-images img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .company-references img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .marketing .fab{
        font-size: 20px !important;
    }

    #big img {
        width: 100%;
        height: 150px;
    }
    #sub img {
        width: 20%;
        height: 40px;
    }
}
